<!-- app/views/firms/index.html.erb -->
<div class="container" data-controller="edit-form">
  <h1 style="padding-top: 120px;">Sociétés</h1>
  <!-- Lien pour créer une nouvelle société -->
  <%= link_to 'Nouvelle Société', new_firm_path, class: "btn btn-primary mb-3" %>

  <%= render 'firms_list', firms: @firms %>
</div>
