// app/assets/stylesheets/config/_fonts.scss

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');



// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Permanent Marker", cursive;
$form-labels-font: "Permanent Marker", cursive;



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


label {
  font-family: $form-labels-font;
  font-size: 0.9em; // Ajustez la taille de la police si nécessaire
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

body {
  font-family: $body-font;
  font-size: 1em; // Ajustez la taille de la police si nécessaire
}

::placeholder {
  font-family: $body-font;
  font-size: 0.9em; // Ajustez la taille de la police si nécessaire
  color: rgb(236, 236, 236);
  font-style: italic;
}
