<!-- app/views/users/index.html.erb -->
<div class="container">
  <h1 style="padding-top: 120px;">Utilisateurs</h1>

  <div class="row">

    <div class="col-md-4">
      <h2>Thérapeutes</h2>
      <%= render 'users_list', users: @therapist_users %>
    </div>

    <div class="col-md-4">
      <h2>Patients</h2>
      <%= render 'users_list', users: @patient_users %>
    </div>

    <div class="col-md-4">
      <h2>Autres Utilisateurs</h2>
      <%= render 'users_list', users: @other_users %>
    </div>

  </div>

</div>
