<h1>Patients</h1>

<% if @patients.any? %>
  <ul>
    <% @patients.each do |patient| %>
      <li><%= patient.first_name %> <%= patient.last_name %> (<%= patient.date_of_birth %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No patients available.</p>
<% end %>
